<h1>BUSINESS INDEX</h1>

  <tbody>
    <% @businesses.each do |b| %>
      <tr>
        <td><%= b.name %></td>
        <td><%= link_to 'Show', b %></td>
        <td>
      </tr>
      <br>
    <% end %>
  </tbody>
</table>



