<h1>BUSINESS INDEX</h1>
<h1>Test</h1>
  <tbody>
    <% @businesses.each do |b| %>
      <tr>
        <td><%= b.name %></td>
        <td><%= link_to 'Show', b %></td>
        <td>
      </tr>
      <br>
    <% end %>
  </tbody>
</table>

<h3>{{test}}</h3>
<ul>
  <li ng-repeat="campaign in campaigns">
    {{ campaign.caption }}
    {{ campaign.picture }}
    {{ campaign.location }}
    {{ campaign.release_date }}
  </li>
</ul>