.bustabcontainer {
	float: right;
	width: 300px;
	border-radius: 5px;
	background-color: white;
	padding: 10px;
}

.campaigns-container {
	float: left;
	width: 650px;
}

.buscontainer {
	margin-right: auto;
	margin-left: auto;
	width: 950px;
}

.busscrollcontainer {
	overflow: scroll;
	width: 620px;
	height: 100vh;
	padding-left: 20px;
	float: left;
}

.busbutton {
	background-color: #be1831;
	border-style: none;
	color: white;
	font-family: "HelveticaNeue-Light";
	font-weight: 500;
	width: 150px;
	padding: 10px;
}

.campaigntweets {
	width: 48px;
	height: 110px;
	float: left;
	font-family: "HelveticaNeue-Light";
	font-weight: bold;
	font-size: 50px;
}

.campaigntweetsunder {
	font-family: "HelveticaNeue-Light";
	font-weight: 300;
	font-size: 12px;
	margin-top: -15px;
	width: 48px;
	text-align: center;
}

